.noselect{
	box-sizing: border-box;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#pic-frame{
	width: 50%;
	margin:auto;
	height: 500px;
}
#head{
	text-align: center;
	font-weight: bold;
	font-size: 5vw;
	margin-top: 25px;
	margin-bottom: 50px;
}
#content-body{
	margin-top: 50px;	
	width: 80%;
}
#write{
	margin-top: 50px;
	margin-bottom: 50px;
}
#write h2{
	margin-bottom: 50px;
	font-family: 'Lora', serif;
}
#write p{

	margin-top: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
}
#redirect{
	margin-top: 100px;
}
#redirect p{
	font-size: 4vw;
	font-weight: bold;
}
#ref{
	margin: auto;
	margin-bottom: 20px;
}
#ref a{
	color:black;
	text-decoration: none;
}
#rel-box{
	margin-top: 25px;
	margin-bottom: 25px;
	border-left:2vw red solid;
	font-size: 2vw;
	font-weight: bold;
}
#rel-head{
	display: flex;
	flex-direction: column;
}
#rel-head a{
	color:black;
	text-decoration: none;
}
#rel-head a:hover{
	text-decoration: underline;
}
#f{
	height: 350px;
}
#shop-pic{
	text-align: center;
	display: flex;
	flex-direction: column;
}
#shop-pic button{
	margin-top: 20px;
	margin-right: 30px;
	width:220px;
	height: 60px;
	background: black;
	color: white;
}
#shop-pic button:hover{
	background: #4169E1;
	color: white;
}
#shop-btn{
	text-align: center;
}
#food-section{
	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
	padding-top: 50px;
}
#ingredients{
	margin-top: 100px;
}
#ingredients-up{
	font-size: 20px;
}
#ingredients-down{
	margin-left: 300px;
	font-size: 20px;
}
#ingredients-box{
	display: flex;
	margin-left: 60px;
}
@media(max-width: 1024px){
	#ingredients-down{
	margin-left: 220px;
}
}
@media(max-width: 768px){

#pic-frame{
	width: 70%;
	margin:auto;
}
#f{
	height: 200px;
}
#ref{
	margin-left: 20px;
}
#pic-frame{
	height:350px;
}
#ingredients-box{
	margin-left: 40px;
}
#ingredients-up{
	font-size: 18px;
}
#ingredients-down{
	margin-left: 60px;
	font-size: 18px;
}
}
@media(max-width: 426px){
#pic-frame{
	height:200px;
}
#content-body{
	width: 90%;
}
#write h2{
	font-size: 1.2em;
}
#write p{
	margin-top: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1em;
}
#food-section{
	font-size: 15px;
}
#rel-box{
	font-size: 3.5vw
}
#ingredients-box{
	margin-left: 20px;
}
#ingredients-up{
	font-size: 15px;

}
#ingredients-down{
	margin-left: 50px;
	font-size: 15px;
}
}
@media(max-width: 376px){
	#pic-frame{
	height:150px;
}
#ingredients-box{
	margin-left: 5px;
}
#ingredients-up{
	font-size: 12px;

}
#ingredients-down{
	margin-left: 35px;
	font-size: 12px;
}
}