*{
	box-sizing: border-box;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#pic-frame{
	width: 50%;
	margin:auto;

}

#head{
	text-align: center;
	font-weight: bold;
	font-size: 5vw;
	margin-top: 25px;
	margin-bottom: 50px;
}

#content-body{
	margin-top: 50px;	
	width: 80%;
}

#write{
	margin-top: 50px;
	margin-bottom: 50px;
}
#write h2{

	margin-bottom: 50px;
	font-family: 'Lora', serif;


}
#write p{

	margin-top: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
}

#redirect{
	margin-top: 100px;
}
#redirect p{
	font-size: 4vw;
	font-weight: bold;
}

#ref{
	margin: auto;
	margin-bottom: 20px;
}

#ref a{
	color:black;
	text-decoration: none;
}
#rel-box{
	margin-top: 25px;
	margin-bottom: 25px;
	border-left:2vw red solid;
	font-size: 2vw;
	font-weight: bold;
}
#rel-head{
	display: flex;
	flex-direction: column;
}
#rel-head a{
	color:black;
	text-decoration: none;
}

#rel-head a:hover{
	text-decoration: underline;
}
#f{
	height: 350px;
}

@media(max-width: 768px){

#pic-frame{
	width: 70%;
	margin:auto;

}
#f{
	height: 200px;
}
#ref{
	margin-left: 20px;
}
}
@media(max-width: 426px){

#content-body{
	width: 90%;
}

#write h2{

	font-size: 1em;

}

	#write p{

	margin-top: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 0.9em;

}
#rel-box{
	font-size: 3.5vw
}
}