*{
	box-sizing: border-box;
}

#pic-frame{
	width: 50%;
	margin:auto;

}

#head{
	text-align: center;
	font-weight: bold;
	font-size: 5vw;
	margin-top: 25px;
	margin-bottom: 50px;
}

#content-body{
	margin-top: 50px;
	width: 80%;
	
}

#write h2{

	margin-bottom: 25px;
	font-family: 'Lora', serif;


}
#write p{

	margin-top: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	background: #F5F5F5;

}

@media(max-width: 768px){

#pic-frame{
	width: 70%;
	margin:auto;

}
}
@media(max-width: 426px){

#write h2{

	font-size: 0.9em;

}

	#write p{

	margin-top: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 0.9em;

}
}