*{
	box-sizing: border-box;
}


.navbar-brand{
	width: 70%;
}

#logo-header{
	display: flex;

}

#h{
	background: #f5ee55;
}

#heading{
	font-family: 'Exo 2', sans-serif; 
	margin-top: 40px; 
	padding-left: 10px; 
}
#heading span{
	font-weight: bold;
	font-size: 30px;
}
#Searchbar{
	width: 90%;		
	height: 50px;
	margin: auto;
	margin-top: 20px;


}
#searchbar{
	height: 150px;
	text-align: center;

}
#myBtnContainer{
	text-align: center;
	margin-bottom: 80px;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 100px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin-right: 0px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.nav-link{
	font-weight: bold;
	margin-left: 25px;

}

#linked{

	text-decoration: none;
	color:black;

}
li::marker {
    font-weight: bold;
    font-size: 2em;
}
#contentid{
	display: none;

}

footer{
	height: 50px;
	background: #F5F5F5;
}

#foot-left{
	display: flex;
	margin-top: 12.5px;
	padding-left: 10px;
}

#a{
	margin-left: 10px;
	text-decoration: none;
	color:black;
}
.bold{
	font-weight: bold;
}
@media(max-width: 1200px){

.navbar-brand{
	width: 40%;
}


.navbar-brand{
	width: 60%;
}

}
@media(max-width: 995px){

#content-img{
	text-align: center;
	
}
.btn {
  padding: 12px 80px;
}
}

@media(max-width: 767px){

#myUL li{
	list-style: none;
}
.card{
	margin-right: 20px;
}
.btn {
  padding: 12px 50px;
}
}
@media(max-width: 564px){

.btn {
  padding: 12px 50px;
}
}

@media(max-width:455px){
#heading{
	margin-top:20px; 
}


#heading span{
	font-size:.8em;
}
#logo-pic img{
	height: 60px;
	width: 60px;
}
.btn {
  padding: 8px 25px;
}

}

@media(max-width:368px){
#heading span{
	font-size:.6em;
}
.btn {
  padding: 5px 15px;
}
}