*{
	box-sizing: border-box;
}

.navbar-brand{
	width: 70%;
}

#logo-header{
	display: flex;

}


#heading{
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	font-size: 20px; 
	margin-top: 30px; 
	padding-left: 10px; 
}

#Searchbar{
	width: 90%;		
	height: 50px;
	margin: auto;
	margin-top: 20px;


}
#searchbar{
	height: 180px;
	text-align: center;

}

.nav-link{
	font-weight: bold;
	margin-left: 25px;

}


li::marker {
    font-weight: bold;
    font-size: 2em;
}
#contentid{
	display: none;
}

footer{
	height: 50px;
	background: #F5F5F5;
}

#foot-left{
	display: flex;
	margin-top: 12.5px;
	padding-left: 10px;
}

#a{
	margin-left: 10px;
	text-decoration: none;
	color:black;
}
@media(max-width: 1200px){

.navbar-brand{
	width: 40%;
}


.navbar-brand{
	width: 60%;
}

}
@media(max-width: 995px){

#content-img{
	text-align: center;
	background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
}

@media(max-width: 768px){


}
@media(max-width: 564px){


}

@media(max-width:455px){

#heading span{
	font-size:.8em;
}
#logo-pic img{
	height: 60px;
	width: 60px;
}

}

@media(max-width:368px){
#heading span{
	font-size:.6em;
}

}